<!-- Footer -->
    <footer class="footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-section">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/careers">Careers</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><a href="/help">Help Center</a></li>
                        <li><a href="/returns">Returns</a></li>
                        <li><a href="/shipping">Shipping Info</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Follow Us</h4>
                    <ul>
                        <li><a href="#">Facebook</a></li>
                        <li><a href="#">Instagram</a></li>
                        <li><a href="#">Twitter</a></li>
                    </ul>
                </div>
                <div class="footer-section">
                    <h4>Newsletter</h4>
                    <p>Subscribe for updates and offers</p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; 2025 Modmen. All rights reserved.</p>
            </div>
        </div>
    </footer>

<script src="/user/js/main.js" defer></script>
</body>
</html>